---
// @ts-nocheck
import Container from '@components/container.astro';
import Footer from '@components/footer.astro';
import Hero from '@components/hero.astro';
import Layout from '@layouts/Layout.astro';
import dayjs from 'dayjs';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import { contentfulClient } from '@lib/contentful';
import type { BlogPost, Events, Initiatives } from '@lib/contentful';
import { getImage } from 'astro:assets';
import ImageFrame from '@components/ImageFrame.astro';
import aboutUsImgRaw from '../assets/HSCinves24_Group_8.jpg';

// get a random initiative, event and blog post
const initiatives = await contentfulClient.getEntries<Initiatives>({
	content_type: 'initiatives',
});


const { items: events } = await contentfulClient.getEntries<Events>({
	content_type: 'events',
	'fields.date[gt]': dayjs().toISOString(),
});

const { items: blogEntries } = await contentfulClient.getEntries<BlogPost>({
	limit: 1,
	content_type: 'blogPost',
	order: '-sys.createdAt',
});

const initiative = initiatives.items[Math.floor(Math.random() * initiatives.items.length)];


// if no events, display "No upcoming events"
if (events.length === 0) {
	events.push({
		fields: {
			date: dayjs().add(1, 'day').toISOString(),
			title: 'No upcoming events',
			description: 'Check back soon!',
			banner: {
				fields: {
					file: {
						url: '/noevents.png',
					},
				},
			},
		},
	});
}

// get the event closest to the start date
const event = events.reduce((prev, current) => {
	const prevDate = dayjs(prev.fields.date);
	const currentDate = dayjs(current.fields.date);
	const now = dayjs();
	if (prevDate.isBefore(now) && currentDate.isAfter(now)) {
		return current;
	}
	if (prevDate.isBefore(currentDate)) {
		return prev;
	}
	return current;
});

const blogEntry = blogEntries[0].fields;

const aboutUsImg = await getImage({ src: aboutUsImgRaw, format: 'webp' });
---


<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

	@font-face {
		font-family: 'Horizon';
		src: url('/fonts/horizon.otf') format('opentype');
		font-display: block;
	}

	@font-face {
		font-family: 'San Diego';
		src: url('/fonts/sandiego.ttf') format('truetype');
		font-display: block;
	}

	.horizon {
		font-family: 'Horizon', sans-serif;
	}

	.sandiego {
		font-family: 'San Diego', cursive;
	}

	.alata {
		font-family: 'Alata', sans-serif;
	}

	.font-condensed {
		font-stretch: condensed;
	}

	.font-ultra-condensed {
		font-stretch: ultra-condensed;
	}
</style>

<Layout title="Home">
	<div>
		<div transition:name='hero'>
			<Hero />
		</div>
		<div class="divider h-10 relative -mt-10"></div>
		<Container>
			<!-- display a short about us and a photo side by side -->
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-10">
				<div class="p-10 mx-auto flex items-center justify-center w-full" data-aos="fade-up-right">
					<div>
						<ImageFrame src={aboutUsImg.src} alt="About Us" type={1} class="'hi" />
					</div>
				</div>

				<div class="flex flex-col items-start justify-evenly pl-12 text-gray-700 w-4/5 leading-[3.5rem] min-h-[50vh] mx-auto" data-aos="fade-up-left">
					<h1 class="text-5xl font-bold leading-[inherit]">
						We are the High School Council&nbsp;of<br /><span class="text-[#ff0000]">Hwa Chong Institution</span>
					</h1>
					<p class="mt-4 text-xl alata">
						We are a student-led council that aims to foster a vibrant and inclusive school culture
					</p>
				</div>
			</div>


			<!-- <section class="flex h-screen">
				<div class="m-auto flex w-full max-w-4xl">
					<div class="flex w-1/2 items-center justify-center bg-[#ff0000]">
						<ImageFrame src={aboutUsImg.src} alt="About Us" type={1} class="rotate-12" />
					</div>
					<div class="flex w-1/2 flex-col items-start justify-center pl-12 text-white">
						<h1 class="text-5xl font-bold">
							We are the High School Council of <span class="text-[#ff0000]">Hwa Chong Institution</span>
						</h1>
						<p class="mt-4 text-xl">
							We are a student-led council, that aims to foster a vibrant and inclusive school culture
						</p>
					</div>
				</div>
			</section> -->


			<!-- display the random posts and events in 3 columns with the image as the background -->
			<h2 class="text-3xl font-bold mt-10 text-center text-slate-600" data-aos="fade-up">Latest Events, Initiatives and Posts</h2>

			<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-10">
				<a href='/initiatives' data-aos="fade-up">
					<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${initiative.fields.banner!.fields.file.url})`}>
						<div class="bg-[#000]/50 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
							<h2 class="text-[#f3f4f6] text-2xl font-bold">
								{initiative.fields.title}
							</h2>
							<p class="text-[#f3f4f6] text-sm mt-2">{initiative.fields.description}</p>
						</div>
					</div>
				</a>

				<a href='/events' data-aos="fade-up">
					<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${event.fields.banner!.fields.file.url})`}>
						<div class="bg-[#000] bg-opacity-60 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
							<h2 class="text-[#f3f4f6] text-2xl font-bold">
								{event.fields.title}
							</h2>
							<p class="text-[#f3f4f6] text-sm mt-2">{event.fields.description}</p>
						</div>
					</div>
				</a>

				<a href={`/blog/${blogEntry.slug}`} data-aos="fade-up">
					<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" transition:name={`${blogEntry.slug}.banner`} style={`background-image: url(${blogEntry.banner!.fields!.file.url})`}>
						<div class="bg-[#000] bg-opacity-60 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
							<h2 class="text-[#f3f4f6] text-2xl font-bold">
								{blogEntry.title}
							</h2>
							<p class="text-[#f3f4f6] text-sm mt-2">{blogEntry.snippet}</p>
						</div>
					</div>
				</a>
			</div>

			<!--
				social media links with icons

				facebook: https://www.facebook.com/hwachonghsc/
				instagram: https://www.instagram.com/hwachonghsc/
				youtube: https://www.youtube.com/@41HighSchoolCouncil
			-->
			<!--
				Div with rainbow coloured border and "Follow us on social media!" header
			-->
			<div class="p-10 mt-10 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-[#eff2f5]" data-aos="fade-up">
				<h2 class="text-3xl font-bold text-center">Follow us on social media!</h2>
				<div class="grid grid-cols-1 xs:grid-cols-3 gap-4 mt-4 w-full lg:w-3/5 mx-auto">
					<a href="https://www.facebook.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
						<Icon name="mdi:facebook" class="w-12 h-12" />
						<p class="mt-2 fredoka">@hwachonghsc</p>
					</a>
					<a href="https://www.instagram.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
						<Icon name="mdi:instagram" class="w-12 h-12" />
						<p class="mt-2 fredoka">@hwachonghsc</p>
					</a>
					<a href="https://www.youtube.com/@41HighSchoolCouncil" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
						<Icon name="mdi:youtube" class="w-12 h-12" />
						<p class="mt-2 fredoka">@41HighSchoolCouncil</p>
					</a>
				</div>
			</div>
		</Container>
	</div>
</Layout>

<style>
	.divider {
		overflow:hidden;
		position:relative;
	}
	.divider::before{
		content:'';
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-repeat: no-repeat;
		bottom: -0.1vw;
		left: -0.1vw;
		right: -0.1vw;
		top: -0.1vw;
		background-size: 100% 65px;
		background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23121212"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23121212"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23121212"/></svg>');
	}

	@media (min-width:2100px){
		.divider::before {
			background-size: 100% calc(2vw + 65px);
		}
	}


</style>