---
import Container from '@components/container.astro';
import Footer from '@components/footer.astro';
import Hero from '@components/hero.astro';
import Layout from '@layouts/Layout.astro';
import dayjs from 'dayjs';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

// get a random initiative, event and blog post
const initiatives = await getCollection('initiatives', ({ data }) => {
	return !data.draft;
});
const events = await getCollection('events', ({ data }) => {
	return !data.draft && dayjs(data.date).isAfter(dayjs());
});
const publishedBlogEntries = await getCollection('blog', ({ data }) => {
	return !data.draft && data.publishDate < new Date();
});

const initiative = initiatives[Math.floor(Math.random() * initiatives.length)];


/*
event frontmatter:
---
draft: false
title: "Combined Sports Meet"
description: "Have fun with your friends and support your classes (from across the street as well)!"
date: 2023-07-27T24:00:00.000Z
image: {
	src: "/csmbanner.jpg",
	alt: "CSM Something"
}
location: "HCI (HS)"
---
*/
// if no events, display "No upcoming events"
if (events.length === 0) {
	events.push({
		data: {
			title: 'No upcoming events',
			description: 'Check back soon!',
			image: {
				src: '/noevents.png',
				alt: 'No upcoming events',
			},
		},
	} as CollectionEntry<'events'>);
}

// get the event closest to the start date
const event = events.reduce((prev, current) => {
	const prevDate = dayjs(prev.data.date);
	const currentDate = dayjs(current.data.date);
	const now = dayjs();
	if (prevDate.isBefore(now) && currentDate.isAfter(now)) {
		return current;
	}
	if (prevDate.isBefore(currentDate)) {
		return prev;
	}
	return current;
});
const blogEntry =
	publishedBlogEntries[Math.floor(Math.random() * publishedBlogEntries.length)];
---

<Layout title="Home">
	<Container>
		<Hero />
		<!-- display the random posts and events in 3 columns with the image as the background -->
		<h2 class="text-3xl font-bold mt-10 text-center text-red-800">Latest Events, Initiatives and Posts</h2>

		<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-10">
			<a href='/initiatives'>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${initiative.data.image.src})`}>
					<div class="bg-black bg-opacity-50 h-full flex flex-col justify-end p-4">
						<h2 class="text-white text-2xl font-bold">
							{initiative.data.title}
						</h2>
						<p class="text-white text-sm mt-2">{initiative.data.description}</p>
					</div>
				</div>
			</a>

			<a href='/events'>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${event.data.image.src})`}>
					<div class="bg-black bg-opacity-60 h-full flex flex-col justify-end p-4">
						<h2 class="text-white text-2xl font-bold">
							{event.data.title}
						</h2>
						<p class="text-white text-sm mt-2">{event.data.description}</p>
					</div>
				</div>
			</a>

			<a href={`/blog/${blogEntry.slug}`}>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" transition:name={blogEntry.data.image.src} style={`background-image: url(${blogEntry.data.image.src})`}>
					<div class="bg-black bg-opacity-60 h-full flex flex-col justify-end p-4">
						<h2 class="text-white text-2xl font-bold">
							{blogEntry.data.title}
						</h2>
						<p class="text-white text-sm mt-2">{blogEntry.data.snippet}</p>
					</div>
				</div>
			</a>
		</div>

		<!--
			social media links with icons

			facebook: https://www.facebook.com/hwachonghsc/
			instagram: https://www.instagram.com/hwachonghsc/
			youtube: https://www.youtube.com/@41HighSchoolCouncil
		-->
		<!--
			Div with rainbow coloured border and "Follow us on social media!" header
		-->
		<div class="border-2 border-rainbow p-10 mt-10 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
			<h2 class="text-3xl font-bold text-center text-white">Follow us on social media!</h2>
			<div class="grid grid-cols-1 xs:grid-cols-3 gap-4 mt-4 w-full lg:w-3/5 mx-auto">
				<a href="https://www.facebook.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:facebook" class="w-12 h-12 text-white" />
					<p class="text-white mt-2 fredoka">@hwachonghsc</p>
				</a>
				<a href="https://www.instagram.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:instagram" class="w-12 h-12 text-white" />
					<p class="text-white mt-2 fredoka">@hwachonghsc</p>
				</a>
				<a href="https://www.youtube.com/@41HighSchoolCouncil" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:youtube" class="w-12 h-12 text-white" />
					<p class="text-white mt-2 fredoka">@41HighSchoolCouncil</p>
				</a>
			</div>
		</div>
	</Container>
</Layout>
