---
// @ts-nocheck
import Container from '@components/container.astro';
import Footer from '@components/footer.astro';
import Hero from '@components/hero.astro';
import Layout from '@layouts/Layout.astro';
import dayjs from 'dayjs';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import { contentfulClient } from '@lib/contentful';
import type { BlogPost, Events, Initiatives } from '@lib/contentful';
import { getImage } from 'astro:assets';

// get a random initiative, event and blog post
const initiatives = await contentfulClient.getEntries<Initiatives>({
	content_type: 'initiatives',
});


const { items: events } = await contentfulClient.getEntries<Events>({
	content_type: 'events',
	'fields.date[gt]': dayjs().toISOString(),
});

const { items: blogEntries } = await contentfulClient.getEntries<BlogPost>({
	limit: 1,
	content_type: 'blogPost',
	order: '-sys.createdAt',
});

const initiative = initiatives.items[Math.floor(Math.random() * initiatives.items.length)];


// if no events, display "No upcoming events"
if (events.length === 0) {
	events.push({
		fields: {
			date: dayjs().add(1, 'day').toISOString(),
			title: 'No upcoming events',
			description: 'Check back soon!',
			banner: {
				fields: {
					file: {
						url: '/noevents.png',
					},
				},
			},
		},
	});
}

// get the event closest to the start date
const event = events.reduce((prev, current) => {
	const prevDate = dayjs(prev.fields.date);
	const currentDate = dayjs(current.fields.date);
	const now = dayjs();
	if (prevDate.isBefore(now) && currentDate.isAfter(now)) {
		return current;
	}
	if (prevDate.isBefore(currentDate)) {
		return prev;
	}
	return current;
});

const blogEntry = blogEntries[0].fields;
---

<Layout title="Home">
	<div transition:name='hero'>
		<Hero />
	</div>
	<Container>
		<!-- display the random posts and events in 3 columns with the image as the background -->
		<h2 class="text-3xl font-bold mt-10 text-center text-slate-600">Latest Events, Initiatives and Posts</h2>

		<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-10">
			<a href='/initiatives'>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${event.fields.banner!.fields.file.url})`}>
					<div class="bg-[#000]/50 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
						<h2 class="text-[#f3f4f6] text-2xl font-bold">
							{initiative.fields.title}
						</h2>
						<p class="text-[#f3f4f6] text-sm mt-2">{initiative.fields.description}</p>
					</div>
				</div>
			</a>

			<a href='/events'>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" style={`background-image: url(${event.fields.banner!.fields.file.url})`}>
					<div class="bg-[#000] bg-opacity-60 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
						<h2 class="text-[#f3f4f6] text-2xl font-bold">
							{event.fields.title}
						</h2>
						<p class="text-[#f3f4f6] text-sm mt-2">{event.fields.description}</p>
					</div>
				</div>
			</a>

			<a href={`/blog/${blogEntry.slug}`}>
				<div class="bg-cover bg-center bg-no-repeat h-64 lg:h-96 hover:scale-105 duration-200 hover:shadow-2xl" transition:name={`${blogEntry.slug}.banner`} style={`background-image: url(${blogEntry.banner!.fields!.file.url})`}>
					<div class="bg-[#000] bg-opacity-60 h-full flex flex-col justify-end p-4 backdrop-blur-sm">
						<h2 class="text-[#f3f4f6] text-2xl font-bold">
							{blogEntry.title}
						</h2>
						<p class="text-[#f3f4f6] text-sm mt-2">{blogEntry.snippet}</p>
					</div>
				</div>
			</a>
		</div>

		<!--
			social media links with icons

			facebook: https://www.facebook.com/hwachonghsc/
			instagram: https://www.instagram.com/hwachonghsc/
			youtube: https://www.youtube.com/@41HighSchoolCouncil
		-->
		<!--
			Div with rainbow coloured border and "Follow us on social media!" header
		-->
		<div class="p-10 mt-10 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-[#eff2f5]">
			<h2 class="text-3xl font-bold text-center">Follow us on social media!</h2>
			<div class="grid grid-cols-1 xs:grid-cols-3 gap-4 mt-4 w-full lg:w-3/5 mx-auto">
				<a href="https://www.facebook.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:facebook" class="w-12 h-12" />
					<p class="mt-2 fredoka">@hwachonghsc</p>
				</a>
				<a href="https://www.instagram.com/hwachonghsc/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:instagram" class="w-12 h-12" />
					<p class="mt-2 fredoka">@hwachonghsc</p>
				</a>
				<a href="https://www.youtube.com/@41HighSchoolCouncil" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center transform hover:scale-110 transition duration-300">
					<Icon name="mdi:youtube" class="w-12 h-12" />
					<p class="mt-2 fredoka">@41HighSchoolCouncil</p>
				</a>
			</div>
		</div>
	</Container>
</Layout>
