---
import { Icon } from 'astro-icon/components';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import Button from '@components/ui/button.astro';
import Contactform from '@components/contactform.astro';
import RSS from 'rss-parser';
import { JSDOM } from 'jsdom';

const subreddits = [
	'NonCredibleDefense',
	// 'ProgrammerHumor',
	// 'Damnthatsinteresting',
	// 'eyebleach',
	// 'anime_titties',
];

const randomSubreddit = subreddits[Math.floor(Math.random() * subreddits.length)];

const parser = new RSS();

const feed = (await parser.parseURL(`https://www.reddit.com/r/${randomSubreddit}/.rss`)).items;

// filter out items whose content does not have an image element
const filtered = feed.filter((item) => {
	return item!.content!.match(/<img.*?>/g);
});

const random = Math.floor(Math.random() * filtered.length);
const item = filtered[random];

const title = item.title;
const { document } = (new JSDOM(item.content)).window;
const image = document.querySelector('img')!.src;
---

<Layout title="404 Not Found">
	<Container>
		<div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
		<div class="mt-16 text-center">
			<h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight animate__animated animate__bounceInDown">404</h1>
			<p class="text-lg mt-4 text-slate-600">Seems like you're lost.</p>
			<p class="text-md text-slate-600">While you're trying to find your way back, here's a little something to keep you mildly entertained:</p>

			<div class="mt-8">
				<div class="flex items-center justify-center">
					<div class="w-1/2">
						<img src={image} alt={title} class="rounded-lg shadow-lg">
					</div>
				</div>
				<div class="mt-4">
					<h2 class="text-xl font-bold text-slate-800">{title}</h2>
					<p class="text-sm text-slate-600">via <a href={item.link} class="text-slate-600 hover:text-slate-800">r/{randomSubreddit}</a></p>
				</div>
			</div>
		</div>
	</Container>
</Layout>
